:root {
  --input-placeholder-focused-opacity: .35;
  --input-text-color: rgba(0, 0, 0, 1);
  --input-text-color-selected: white;
  --input-text-color-selected-background: black;

  --c-valid: green;
  --c-invalid: red;

  --c-shadow: rgba(0, 0, 0, 0.65);

  --input-padding-sides: .5em;

  --padding-bottom: 2px;

  --overflow-width: 1em;
  --overflow-background-color: white;

  --line-height: 1px;
  --line-height-focused: 2px;
  --line-color: rgba(0, 0, 0, 0.1);
  --line-color-focused: hsl(30, 100%, 50%);

  --transition-time: .35s;

  --hint-font-size: .6em;
}