/* Todo:
-  font-size instead of scale
*/
.hint {
  position: absolute;
  font-size: var(--pv-input-hint-font-size);
  opacity: 0;
  transition-property: opacity, transform, filter;
  transition-duration: var(--pv-input-transition-time);
  will-change: opacity, transform;
  pointer-events: none;
  transform: translateY(50%);
}

.input:focus ~ .hint {
  transform: translateY(0);
  opacity: 1;
}

.container:not(.invalid) .hint.error,
.container:not(.valid) .hint.success,
  .valid .hint.error,
.invalid .hint.success,
  .valid .hint:not(.error):not(.success),
.invalid .hint:not(.error):not(.success) {
  display: none;
}
