.pv-input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  appearance: none;
  background-color: transparent;
  border-bottom: var(--pv-input-accent-line-height) solid var(--pv-input-accent-line-color);
  border-left: none;
  border-right: none;
  border-top: none;
  caret-color: black;
  color: var(--pv-input-text-color);
  outline: none;
  padding: 0.7em var(--pv-input-padding-sides) var(--pv-input-padding-bottom);
  text-rendering: geometricPrecision;
  text-size-adjust: 100%;
  width: 100%;
}

.pv-input::selection {
  color: var(--pv-input-text-color-selected);
  background-color: var(--pv-input-text-color-selected-background);
}

.valid .pv-input {
  border-bottom-color: var(--c-valid);
}

.invalid .pv-input {
  border-bottom-color: var(--c-invalid);
}

.pv-input:focus::placeholder {
  opacity: var(--pv-input-placeholder-opacity-focused);
}

.pv-input::placeholder {
  opacity: .6;
  color: var(--pv-input-text-color);
  will-change: opacity;
  transition: opacity var(--pv-input-transition-time);
}

