/*
- Default
- Valid
- Invalid
- Disabled
- Focused

- Label (color, translate, scale)
*/

.label {
  filter: grayscale(0) brightness(1);
  position: absolute;
  transform: translate(calc(-1 * var(--input-padding-sides)), -75%) scale(0.6);
  left: var(--input-padding-sides);
  bottom: 0;
  pointer-events: none;
  color: var(--line-color);
  transition-property: transform, filter;
  transition-duration: var(--transition-time);
  /* Filter is GPU accelerated */
  /* filter: grayscale(1) brightness(1); */
  transform-origin: 0 0;
  will-change: transform, filter;
}

/* Input focused or has text */
.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  filter: grayscale(0) brightness(0);
  transform:
    translate(calc(-1 * var(--input-padding-sides)), -75%)
    scale(0.6);
}

/* Show colored */
/* Increase specifity for labels with validity */
.input:focus ~ .label,
.valid .label.label,
.invalid .label.label {
  filter: grayscale(0) brightness(1);
}

.valid .label {
  color: var(--c-valid);
}

.invalid .label {
  color: var(--c-invalid);
}