/*
-- Default
- Valid
- Invalid
- Disabled
- Focused

- Line (background-color, scale)
Todo:
- Reimplement grey underline as part of this element (can be GPU optimized, no need to replaint colors)
*/

.line {
  /* Positioning */
  position: absolute;
  bottom: 0;
  left: 50%;

  /* Structure */
  width: 100%;
  height: var(--line-height-focused);

  /* Look and feel */
  background-color: var(--line-color-focused);
  /*background-image: linear-gradient(to left, hsla(50, 100%, 50%, 1), var(--line-color-focused));*/

  /* Utility / UX */
  pointer-events: none;

  /* Animation */
  transform:
    translateX(-50%)
    scaleX(0);
  transition:
    transform var(--transition-time);
}

.input:focus ~ .line {
  transform:
    translateX(-50%)
    scaleX(1);
}

.valid .line {
  background-color: var(--c-valid);
}

.invalid .line {
  background-color: var(--c-invalid);
}
