
.shadow {
  /* Positioning */
  position: absolute;
  bottom: 0;
  left: 50%;

  /* Structure */
  width: calc(100% - 0.8em);
  height: 30px;

  /* Optimize */
  will-change: transform, opacity;

  /* Utility / UX */
  pointer-events: none;
  z-index: -1;

  /* Look and feel */
  box-shadow: 0 10px 20px -10px var(--c-shadow);

  /* Animation */
  opacity: 0;
  transition:
    transform var(--transition-time),
    opacity var(--transition-time);
  transform:
    translateX(-50%)
    scaleX(0)
    scaleY(0.55);
}

.input:focus ~ .shadow {
  opacity: 1;
  transform:
    translateX(-50%)
    scaleX(.95)
    scaleY(.9);
}

.shadow::after {
  content: '';
  position: absolute;
  opacity: 1;
  right: -.8em;
  bottom: 0px;
  width: .8em;
  height: 100%;
  transform: skewX(-20deg);
  box-shadow: -6px 0px 20px 0px var(--c-shadow);
}

.shadow::before {
  content: '';
  position: absolute;
  opacity: 1;
  left: -.8em;
  bottom: 0px;
  width: .8em;
  height: 100%;
  transform: skewX(20deg);
  box-shadow: 6px 0px 20px 0px var(--c-shadow);
}